<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Minecraft Server Activity Monitor</title>

  {#bundle /}
  <script src="/app.js"></script>
</head>
<body>
<div class="container">
  <h1>Minecraft Server Activity Monitor</h1>
  <p>A simple application that monitors the activity of Minecraft servers.</p>
  <label for="refreshIntervalSelect">
    Refresh Interval:
  </label>
  <select id="refreshIntervalSelect" onchange="refreshCountdownInterval = this.value">
    <option value="5">5s</option>
    <option value="10">10s</option>
    <option value="30" selected>30s</option>
    <option value="60">60s</option>
  </select>
  <span id="refreshCountdownDisplay">
    30
  </span>
  <button onclick="pauseOrResumeRefreshCountdown()">Play/Pause</button>
  <div id="serverTableWrapper">
    {#include pub/serverTable.html}{/include}
  </div>
  <div>
    <label for="newServerAddress">Add a new server:</label>
    <input id="newServerAddress" type="text" placeholder="Domain or IP">
    <button onclick="addServer(document.getElementById('newServerAddress').value)">Add Server</button>
  </div>
  <div id="serverActivityChartWrapper" style="width: 100%; max-width: 400px; margin: 0 auto;">
    {#include pub/serverActivityChart.html}{/include}
  </div>
  <div id="serverActivityTableWrapper">
  </div>
</div>
</body>
</html>