<table>
  {#for dateEntry in cdi:quteService.groupByDate(cdi:quteService.getActivities(http:param('server'))).entrySet()}
    <tr style="font-size: x-large">
      <th colspan="5">
        {cdi:quteService.formatDate(dateEntry.key)}
      </th>
    </tr>
    <tr style="font-weight: bold">
      <td>Server</td>
      <td>Record Creation Time</td>
      <td>Data Retrieval Time</td>
      <td>Online</td>
      <td>Player Count</td>
    </tr>
    {#for activityRecord in dateEntry.value}
    <tr>
      <td>
        {activityRecord.server}
      </td>
      <td>
        {cdi:quteService.formatDateTime(activityRecord.recordCreationTime)}
      </td>
      <td>
        {cdi:quteService.formatDateTime(activityRecord.dataRetrievalTime)}
      </td>
      <td>
        {activityRecord.online}
      </td>
      <td>
        {activityRecord.playerCount}
      </td>
    </tr>
    {/for}
  {/for}
</table>
