<table>
  <caption>Currently monitored Servers</caption>
  <thead>
  <tr>
    <th>Server</th>
    <th>Last Check</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {#for serverRecord in cdi:quteService.getServers()}
    <tr>
      <td>
        <a onclick="changeActivityTableServer('{serverRecord.server}')" title="Show server activity">
          {serverRecord.server}
        </a>
      </td>
      <td>
        {cdi:quteService.formatDateTime(serverRecord.lastFetchTime)}
      </td>
      <td>
        <a onclick="removeServer('{serverRecord.server}')" title="Remove server">
          x
        </a>
      </td>
    </tr>
  {/for}
  </tbody>
</table>
