{#let srv=http:param('server')}
{#if srv}
  {#let max=cdi:quteService.getMaxPlayerCount(srv, 60)}
  {#if max > 0}
    <table class="charts-css column show-data-on-hover show-primary-axis" style="height: 240px; width: 100%; color: black; --color: #8ab4f8; --line-size: 2px; border-collapse: collapse; border-spacing: 0;">
      <caption>Recent player counts for {srv}</caption>
      <tbody>
      {#for seg in cdi:quteService.getRecentActivitySegments(srv, 60)}
        <tr>
          <td style="--start: {seg.start}; --end: {seg.end};">
              <span class="data" title="{seg.startLabel} → {seg.endLabel} | {seg.endValue} players">
                {seg.endValue}
              </span>
          </td>
        </tr>
      {/for}
      </tbody>
    </table>
  {#else}
    <div class="chart-placeholder" style="padding: 12px; color: #666;">
      No data yet for {srv}.
    </div>
  {/if}
  {/let}
{#else}
  <div class="chart-placeholder" style="padding: 12px; color: #666;">
    Select a server to display its activity chart.
  </div>
{/if}
{/let}
